<div *ngIf="result">
  <div class="card">
    <div class="card-header card-header-icon card-header-success">
      <div class="card-icon">
        <img src="https://pbs.twimg.com/profile_images/1019070441615323137/mBGdN9io_bigger.jpg" class="twitter-avatar"/>
      </div>
      <h4 class="card-title">Detik</h4>
    </div>
    <div class="card-body">
      <div class="card-text">
          <b>{{ result.title }}</b>
          <p>{{ result.snippet }}</p>
      </div>
    </div>
    <div class="card-footer">
        <br />
        <div class="card-link">Interactions: N/A </div>
        <div class="card-link">Comments: <b>{{ result.comments.comment_count }}</b></div>
        <div class="card-link">Sentiment: <b>{{ result.sentiment }}</b></div>
    </div>
  </div>
</div>