<div *ngIf="result">
  <div class="card">
    <div class="card-header card-header-icon card-header-success">
      <div class="card-icon">
        <img src="https://pbs.twimg.com/profile_images/924834031509712896/SjhqOzgA_bigger.jpg" class="twitter-avatar"/>
      </div>
      <h4 class="card-title">{{ result.content_author }}</h4>
    </div>
    <div class="card-body">
      <div class="card-text">
          <b>{{ result.title }}</b>
          <p>{{ result.snippet }}</p>
      </div>
    </div>
    <div class="card-footer">
        <br />
        <div class="card-link">Interactions: N/A </div>
        <div class="card-link">Comments: <b>{{ result.comment_count }}</b></div>
        <div class="card-link">Sentiment: <b>{{ result.sentiment }}</b></div>
    </div>
  </div>
</div>