<div *ngIf="tweet">
  <div class="card">
    <div class="card-header card-header-icon card-header-success">
      <div class="card-icon">
        <img src="{{ tweet.user.profile_image_url }}" class="twitter-avatar"/>
      </div>
      <h4 class="card-title">{{ tweet.user.name }}</h4>
    </div>
    <div class="card-body">
      <div class="card-text">
          {{ tweet.full_text }}
      </div>
    </div>
    <div class="card-footer">
        <br />
        <div class="card-link">Interactions: N/A </div>
        <div class="card-link">Retweet: <b>{{ tweet.retweet_count }}</b></div>
        <div class="card-link">Likes: <b>{{ tweet.favorite_count }}</b></div>
        <div class="card-link">Replies: <b>{{ tweet.reply_count }}</b></div>
        <div class="card-link">Sentiment: <b>{{ tweet.sentiment }}</b></div>
    </div>
  </div>
</div>