<div *ngIf="feed">
  <div class="card">
    <div class="card-header card-header-icon card-header-info">
      <div class="card-icon">
        <img src="photo" class="twitter-avatar"/>
      </div>
      <h4 class="card-title">Current User</h4>
    </div>
    <div class="card-body">
      <div class="card-text">
          {{ feed.message }}
      </div>
    </div>
    <div class="card-footer">
        <br />
        <div class="card-link">Interactions: <b>{{ feed.interactions }}</b> </div>
        <div class="card-link">reactions: <b>{{ feed.reactions.total }}</b></div>
        <div class="card-link">Comments: <b>{{ feed.comments }}</b></div>
        <div class="card-link">Sentiment: <b>{{ feed.sentiment }}</b></div>
    </div>
  </div>
</div>