<div class="main-content">
  <div class="container-fluid">

    <!-- twitter row -->
    <div class="row" *ngIf="twitter_accounts">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Twitter Profile</h4>
            <p class="card-category">Followed Twitter Account</p>
          </div>
          <!-- card content -->
          <div class="card-content table-responsive table-full-width">
            <table class="table">
              <thead>
                  <th>Name</th>
                  <th>Total Follower</th>
                  <th>Sum of Profile Tweets</th>
              </thead>

              <tbody>
                <tr *ngFor="let twitter_acct of twitter_accounts">
                  <td><a [routerLink]="['/twitter-profile', this.twitter_acct.id]"> {{ twitter_acct.name }} </a></td>
                  <td>{{ twitter_acct.total_followers }}</td>
                  <td class="text-primary">{{ twitter_acct.sum_of_profile_tweets }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- fb row -->
    <div class="row" *ngIf="fb_accounts">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Twitter Account</h4>
              <p class="card-category">Followed Twitter Account</p>
            </div>
            <!-- card content -->
            <div class="card-content table-responsive table-full-width">
              <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Screen Name</th>
                    <th>Total Follower</th>
                    <th>Sum of Profile Tweets</th>
                </thead>
  
                <tbody>
                  <tr>
                    <td>Tes</td>
                    <td>Tes</td>
                    <td>Tes</td>
                    <td class="text-primary">Tes</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>