<div class="main-content">
    <div class="container-fluid">
        <!-- follower chart -->
        <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header card-chart card-header-warning">
                  <!-- <div class="ct-chart" id="totalFollowersChart"></div> -->
                  <highcharts-chart
                    [Highcharts]="Highcharts"
                    [options]="followerChartOptions"
                    style="width: 100%; height: 100%; display: block;"
                  ></highcharts-chart>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Total Followers</h4>
                  <p class="card-category">
                    Total Followers: <span class="text-success">{{ total_followers }}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                  <div class="card-header card-chart card-header-success">
                    <highcharts-chart
                    [Highcharts]="Highcharts"
                    [options]="followerGrowthChartOptions"
                    style="width: 100%; height: 100%; display: block;">
                  </highcharts-chart>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Followers Growth Chart</h4>
                    <p class="card-category">
                        Followers <span class="text-success">+{{ follower_growth }}</span>
                      </p>
                  </div>
                </div>
              </div>
        </div>

        <!-- Growth Chart -->
        <!-- <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-chart card-header-success">
                  <div class="ct-chart" id="followerGrowthChart"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Followers Growth Chart</h4>
                </div>
              </div>
            </div>
        </div> -->

        <!-- follower chart -->
        <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header card-chart card-header-primary">
                  <highcharts-chart
                    [Highcharts]="Highcharts"
                    [options]="totalListedChartOptions"
                    style="width: 100%; height: 100%; display: block;">
                  </highcharts-chart>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Total Listed</h4>
                  <p class="card-category">
                      Total Listed Today: <span class="text-success">{{ total_listed }}</span>
                    </p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                  <div class="card-header card-chart card-header-danger">
                    <highcharts-chart
                    [Highcharts]="Highcharts"
                    [options]="totalListedGrowthChartOptions"
                    style="width: 100%; height: 100%; display: block;">
                  </highcharts-chart>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Total Listed Growth Chart</h4>
                    <p class="card-category">
                        Listed Growth: <span class="text-success">{{ listed_growth }}</span>
                      </p>
                  </div>
                </div>
              </div>
    
        </div>

        <!-- Growth Chart -->
        <!-- <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-chart card-header-success">
                  <div class="ct-chart" id="totalListedGrowthChart"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Total Listed Growth Chart</h4>
                </div>
              </div>
            </div>
        </div> -->

        <!-- content chart -->

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-chart card-header-warning">
                  <highcharts-chart
                    [Highcharts]="Highcharts"
                    [options]="numberOfProfileTweetChartOptions"
                    style="width: 100%; height: 100%; display: block;">
                  </highcharts-chart>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Number Of Profile Tweets</h4>
                  <p class="card-category">
                    Total Followers: <span class="text-success">{{ total_followers }}</span>
                  </p>
                </div>
              </div>
            </div>
        </div>
        

        <!-- profile activities -->
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-chart card-header-info">
                  <highcharts-chart
                    [Highcharts]="Highcharts"
                    [options]="profileActivitiesChartOptions"
                    style="width: 100%; height: 100%; display: block;">
                  </highcharts-chart>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Number Of Profile Activities</h4>
                </div>
              </div>
            </div>
        </div>

        <!-- engagement rate -->

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-chart card-header-success">
                <highcharts-chart
                  [Highcharts]="Highcharts"
                  [options]="engagementRateChartOptions"
                  style="width: 100%; height: 100%; display: block;">
                </highcharts-chart>
              </div>
              <div class="card-body">
                <h4 class="card-title">Engagement Rate</h4>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>