<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Analyze Keyword</h4>
              </div>
              <div class="card-body">
                <div class="col-md-12">
                  <form class="analyze-keyword">
                      <div class="input-group no-border">
                          <input type="text" value="" [formControl]="keyword" class="form-control" placeholder="Search...">
                          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="getData()">
                              <i class="material-icons">search</i>
                              <div class="ripple-container"></div>
                          </button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
            <div class="col-md-6" *ngFor="let tweet of tweets">
              <app-twitter [tweet]="tweet"></app-twitter>
            </div>

            <div class="col-md-6" *ngFor="let feed of fb_feeds">
              <app-facebook [feed]="feed"></app-facebook>
            </div>

            <div class="col-md-6" *ngFor="let result of kompas_results">
              <app-kompas [result]="result"></app-kompas>
            </div>

            <div class="col-md-6" *ngFor="let result of detik_results">
              <app-detik [result]="result"></app-detik>
            </div>
      </div>
  </div>
</div>